:root {
    --gradient: linear-gradient(30deg,
            #7631a1,
            #5f1ac0,
            #5518d9,
            #4e40f0,
            #5372fc,
            #65d6ff);
}

html,
body {
    height: 105%;
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-animation 8s infinite alternate;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}


.content-2 {
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
}

.whiteborder {
    background-color: azure;
    padding: 10px;
    border-radius: 25px;
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menubtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
    border-radius: 25px;
    margin: 3%;
    text-decoration: none;
    font-size: 28px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    height: 1000px;
    width: 1000px;
    background: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
}

.board div {
    height: 50px;
    width: 50px;
    margin: 3px;
}

.square {
    background: white;
}

.player-one {
    background: red;
    border-radius: 50%;
}

.player-two {
    background: yellow;
    border-radius: 50%;
}

.restart {
    width: 300px;
    height: 200px;
    display: none;
    justify-content: center;
    align-items: center;
}

.playAgain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.page {
    /* border: 3px solid white;
box-sizing: border-box; */
    height: 100vh;
    flex-direction: column;
}

#signIn-page {
    display: flex;
}

#signUp-page {
    display: none;
}

#menu-page {
    display: none;
}
#menu-page {
    display: none;
}
#game-page{
    display: none;
}

nav {
    position: fixed;
    width: 100%;
}

nav .back-icon {
    font-size: 3vw;
    color: white;
    cursor: pointer;
    margin: 1% 0% 1% 2%;
}

@media all and (max-width: 600px) {
    nav .back-icon {
        font-size: 10vw;
        color: white;
        cursor: pointer;
        margin: 5% 0% 5% 4%;
    }
}



#table {
    height: 60vh;
    width: 40vw;
    margin-top: 2vh;
    background-color: white;

}

.tabel_border {
    border: 2px solid black;
}

#currentplayer {
    font-size: 2vh;
    margin-top: 2vh;
    height: 7vh;
    width: 30vw;
    text-align: center;
    background-color: aliceblue;
    border: 5px solid black;
    border-radius: 10px;
}

.form,
.form2 {
    height: 10vh;
    width: 90vw;
    margin-top: 1vh;
    text-align: center;
}

.display-1 {
    font-size: 8vh;
}

.overlay-text {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.textwinx {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    color: rgb(255, 213, 0);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.textwino {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    color: rgb(255, 0, 0);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.tutorial-body {
    height: 45vh;
}